body {
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
}

ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1f1f1f;
	line-height: 0px;
  }
  
  li {
	float: right;
  }
  											
  li a {
	display: inline-block;
	line-height: 0px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: black;
  }